<%# <h3><%= @socket %1></h3> %>
<h3><%= @name %></h3>
<table class='table card-body'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desscription</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
